<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>首页</title>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/laydate/laydate.js"></script>
    <script src="/static/js/util.js"></script>
    <style>
        *{padding:0;margin:0}
        html{overflow:hidden}

        .welcome{
            font-size: 0.2rem;
            padding: 0.24rem;
            line-height: 140%;
            /*width: 20%;*/
            position: relative;
            margin: 0 auto;
            height: 3rem;
            overflow: hidden;/*设置文案容器高度，超出部分隐藏*/
            /*text-align: center;*/
        }

        .open-btn{
            margin-left: 5.6rem;
            font-size: 0.3rem;
            background: linear-gradient(180deg,rgba(255,255,255,0),#fff);/*实现渐变效果，遮罩效果*/
        }
        .open-btn a{

        }
    </style>
</head>
<body>
<!--<canvas id="canvas" style="background:#b0b0b0;z-index: 0"></canvas>-->
<!--<div id="divId"  style="position: absolute;width:100px;height:50px;z-index:100;display:none">-->
    <!--<input type="text" id="inId"  style="background-color: #294175;border: 0px;"/>-->
<!--</div>-->

<span id="time"></span>
<div>
<div id="welcome" class="welcome"></div>
    <div class="open-btn" id="btncontain">
        <a onclick="showMore()">查看更多</a>
    </div>
</div>
</body>
</html>
<script>
    var url="/static/img/"+randomNum(1,7)+".jpg";
    document.body.style.backgroundImage="url("+url+")";//
    document.body.style.backgroundRepeat='no-repeat';
    document.body.style.backgroundSize='cover';

     welcome();
    function welcome() {
        $.ajax({
            url: '/welcome',
            type : "get",
            dataType: "json",
            success: function (data) {
                var content=data.content;
               $('#welcome').html(content);
            }
        });
    }
    function showMore() {
        $("#welcome").height("auto");//取消文字容器高度限制
        $("#btncontain").hide();//隐藏查看更多按钮
    }
    //定义一个变量为5        
    var count = 500;
    //一开始就执行        
    window.setInterval("refresh()", 1000);
    function refresh() {
        count=count-1;
        if (count < 1 ) {
            location.href = "/books";
        }

    }       
</script>
<!--<script type="text/javascript">-->
    <!--window.onload = function(){-->
        <!--//获取画布对象-->
        <!--var canvas = document.getElementById("canvas");-->
        <!--//获取画布的上下文-->
        <!--var context =canvas.getContext("2d");-->
        <!--//获取浏览器屏幕的宽度和高度-->
        <!--var W = window.innerWidth;-->
        <!--var H = window.innerHeight;-->
        <!--//设置canvas的宽度和高度-->
        <!--canvas.width = W;-->
        <!--canvas.height = H;-->
        <!--//每个文字的字体大小-->
        <!--var fontSize = 30;-->
        <!--//计算列-->
        <!--var colunms = Math.floor(W /fontSize);-->
        <!--//记录每列文字的y轴坐标-->
        <!--var drops = [];-->
        <!--//给每一个文字初始化一个起始点的位置-->
        <!--for(var i=0;i<colunms;i++){-->
            <!--drops.push(0);-->
        <!--}-->
        <!--//-->
        <!--//结果文字-->
        <!--var str ="what is your name ?";-->
        <!--//结果文字长度-->
        <!--var strLength = str.length;-->
        <!--//横向除去运动文字后的剩余列数-->
        <!--var r_colunms = colunms - str.length;-->
        <!--//记录累计时间-->
        <!--var totalTime = 0;-->
        <!--//4:fillText(str,x,y);原理就是去更改y的坐标位置-->
        <!--//绘画的函数-->
        <!--function draw(){-->
            <!--//记录运行一次函数的增加时间，也即是每次的时间间隔-->
            <!--totalTime += 30;-->
            <!--//随机字符范围-->
            <!--var chars = "三国演义  西游记  红楼梦  水浒传  韩寒  梁晓声  白鹿原  曾国藩 ";-->
            <!--//随机字符的个数-->
            <!--var maxPos = chars.length;-->
            <!--context.fillStyle = "rgba(0,0,0,0.05)";-->
            <!--context.fillRect(0,0,W,H);-->
            <!--//给字体设置样式-->
            <!--context.font = "700 "+fontSize+"px  微软雅黑";-->
            <!--//给字体添加颜色-->
            <!--context.fillStyle ="#294175";//可以rgb,hsl, 标准色，十六进制颜色-->
            <!--//记录结果文字-->
            <!--var count = 0;-->
            <!--//写入画布中-->
            <!--for(var i=0;i<colunms;i++){-->
                <!--var index = Math.floor(Math.random() * str.length);-->
                <!--var x = i*fontSize;-->
                <!--var y = drops[i] *fontSize;-->
                <!--//context.fillText(str[index],x,y);-->
                <!--if(i>=r_colunms/2&&i<(colunms-r_colunms/2))-->
                <!--{-->
                    <!--if(totalTime>=10*1000){-->
                        <!--if(totalTime>=12*1000){-->
                            <!--context.fillText(str.charAt(count),x,10*fontSize);-->
                            <!--//设置输入框可见-->
                            <!--document.getElementById("divId").style.display="block";-->
                            <!--//设置div等位置-->
                            <!--document.getElementById("divId").style.left=(W/2- document.getElementById("divId").offsetWidth)+"px";-->
                            <!--document.getElementById("divId").style.top="380px";-->
                        <!--}else{-->
                            <!--context.fillText(str.charAt(count),x,y);-->
                        <!--}-->
                        <!--count++;-->
                    <!--}else{-->
                        <!--context.fillText(chars.charAt(Math.floor(Math.random() * maxPos)),x,y);-->
                    <!--}-->
                <!--}else{-->
                    <!--context.fillText(chars.charAt(Math.floor(Math.random() * maxPos)),x,y);-->
                <!--}-->
                <!--//如果要改变时间，肯定就是改变每次他的起点-->
                <!--if(y >= canvas.height && Math.random() > 0.99){-->
                    <!--drops[i] = 0;-->
                <!--}-->
                <!--drops[i]++;-->
            <!--}-->
        <!--};-->
        <!--function randColor(){-->
            <!--var r = Math.floor(Math.random() * 256);-->
            <!--var g = Math.floor(Math.random() * 256);-->
            <!--var b = Math.floor(Math.random() * 256);-->
            <!--return "rgb("+r+","+g+","+b+")";-->
        <!--}-->
        <!--draw();-->
        <!--setInterval(draw,30);-->
        <!--$("#inId").blur(function(){-->
            <!--var username=$("#inId").val();-->
            <!--alert(username);-->
            <!--$.post("loginServlet",{"username":username},function(data){-->
                <!--window.location.href="home.html";-->
            <!--});-->
        <!--});-->
    <!--};-->
<!--</script>-->